/*
CSS RESETS:
 Border box reset:
https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 62.5% Fix: https: //www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/
*/


html {
   box-sizing: border-box;
   font-size: 62.5%;
}


*,
*:before,
*:after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}


html,
body {
   height: 100%;
}


body {
   font-size: 1.6rem;
   /* font-size 1.6rem is now the same as 16px */
   line-height: 1.6;
   font-weight: 400;
   background: rgb(128, 9, 9);
   margin: 0;
}

.outside-bg {
   background: rgb(25, 205, 255);
}

.inside-bg {
   background: rgb(1, 29, 111);
}

/* big images - centers them */
.big-img {
   display: block;
   margin: auto;
   /* Center the image */
   max-width: 100%;
   /* Ensure responsiveness */
   height: auto;
   /* Maintain aspect ratio */
}

/* content wrappers  */
.content-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: relative;
   margin: 0 auto;
   padding: 20px;
   max-width: 1000px;
}

.content-bg {
   background: rgb(255 255 255 / 0.9);
   padding: 30px;
}

/* story-items */
.story-item {
   transform: translateX(-250px);
   transition: opacity 1.5s, transform 1.5s;
   margin: 30px 0;
   opacity: 0;
}

.story-item.slide-in {
   opacity: 1;
   transform: translateX(0);
}

img.story-item{
   display: block;
   margin: auto;
   width: 500px;
   height: auto;
   margin-bottom: 20px;
}

/* overlay text on images */
.overlay-container {
   position: relative;
}

.overlay {
   position: absolute;
   top: 25%;
   bottom: 25%;
   left: 37%;
   height: 50%;
   width: 25%;
   opacity: 0;
   transition: .5s ease;
   background-color: rgb(1, 29, 111, 0.7);
}

.overlay-container:hover .overlay {
   opacity: 1;
}

.overlay-text {
   color: white;
   font-size: 20px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}

.overlay-image {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   height: auto;
   width: auto;
   opacity: 0;
   transition: .5s ease;
}

.overlay-container:hover .overlay-image {
   opacity: 1;
}

/* styles for text */
.title {
   font-family: "Matemasie", sans-serif;
   font-size: 4rem;
   font-weight: 400;
   font-style: normal;
   color: rgb(5, 69, 8);
   text-align: center;
}

.main-text {
   font-family: "Amatic SC", sans-serif;
   font-size: 2.5rem;
   font-weight: 700;
   font-style: normal;
   margin-bottom: 60px;
   text-align: center;
}

.hidden-text {
   font-family: "Lobster Two", sans-serif;
   font-size: 1.6rem;
   font-weight: 400;
   font-style: normal;
   opacity: 0;
   text-align: center;
}

/* link styles */
a {
   color: white;
   cursor: pointer; 
   text-decoration: none;
}

a:hover {
   color: rgb(81, 220, 39);
   opacity: 1;
}

/* change the page buttons  */
.btn {
   background: rgb(158 42 43);
   color: white;
   text-decoration: none;
   text-transform: uppercase;
   text-align: center;
   font-size: 1.4rem;
   letter-spacing: 0.1em;
   line-height: 1;
   display: inline-block;
   padding: 10px;
   max-width: 150px;
   border-radius: 20px;
   margin-top: auto;
   margin-bottom: 20px;
}

.previous {
   font-size: 1.6rem;
}

.next {
   font-size: 1.6rem;
}